@model AccountListModel
@{
    ViewData["Title"] = "Tài khoản";
}

<div class="row">
    <div class="col-12 mt-5">

        <div class="row mb-3">
            <div class="col-12">
                <div class="float-right mt-2">
                    <a asp-action="Create" class="btn btn-success"><i class="fa fa-plus"></i> Thêm mới</a>
                </div>
                <h1>Tài khoản</h1>
            </div>
        </div>

        @if (Model.Accounts.Count > 0)
        {
            <div class="row">
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>
                                Email
                            </th>
                            <th>
                                Khách hàng
                            </th>
                            <th></th>
                        </tr>
                        @foreach (var item in Model.Accounts)
                        {
                            <tr>
                                <td>
                                    @item.Email
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-controller="Customer" asp-route-id="@item.Customer.Id">
                                        @item.Customer.FullName
                                    </a>
                                </td>
                                <td class="text-right">
                                    <form method="POST" asp-antiforgery="true" asp-action="Delete">
                                        <input type="hidden" name="id" value="@item.Id" />
                                        <div class="btn-group" role="group" aria-label="actions">
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-light">
                                                <i class="fa fa-pencil-alt">&nbsp;</i>
                                                <span class="sr-only">Chỉnh sửa</span>
                                            </a>
                                            <button class="btn btn-light" type="submit">
                                                <i class="fa fa-trash">&nbsp;</i>
                                                <span class="sr-only">Xóa</span>
                                            </button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                <partial name="_Pager" model="Model" />
            </div>
        }
        else
        {
            <div class="alert alert-info">Hiện không có tài khoản nào.</div>
        }
    </div>
</div>
